.textInputContainer
{
    height: auto;
    width: auto;

    margin-top: 15px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    color: #484847;
}

.textInputContainer:first-child
{
    margin: 0px !important;
}

.textInputLabel
{
    width: 175px;
    margin: 0px 10px 5px 0px;
    
    font-weight: 600;
}

.textInput
{
    height: 25px;
    width: 60px;

    padding: 5px 5px 5px 5px;

    border: 1.5px solid #484847;
    border-radius: 5px;

    outline: none;

    background-color: #e7e9e2;
    opacity: .7;

    -webkit-box-shadow: inset 0 0 2px rgb(0, 0, .7);
    box-shadow: inset 0 0 2px  rgb(0, 0, .7);
}

.textInput:focus
{
    outline: none;
}

.centerToLabel
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.toLabel
{
    margin: 0px 5px 0px 5px;
}