.mainContainer
{   
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0 0 0 0;

    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.middleContainer
{
    height: calc(100%-30px);
    width: 100%;

    margin: 30px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

    display: flex;
    flex-direction: column;

    overflow-x: hidden;
    overflow-y: auto;

    background-color: #F1F2EE;
}

.inputContainer
{
    flex: 0 0 auto;
    width: 100%;

    margin: 0px 0px 0px 0px;
    padding: 30px 0px 0px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.typeContainer
{
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.inputTypeContainer
{
    height: auto;
    width: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.inputTypeContainer div:first-of-type
{
    margin-bottom: 15px;
}

.searchContainer
{
    height: auto;
    width: 100%;

    padding: 45px 0px 0px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBtn
{
    height: 45px;
    width: 150px;

    display: flex;
    justify-content: center;
    align-items: center;

    appearance: none;
    outline: none;

    cursor: pointer;

    color: #484847;
    background-color: #7b8da3;

    font-size: medium;
    font-weight: 600;

    border: none;
    border-radius: 12px;

    -webkit-box-shadow: 0 0 3px rgb(0, 0, .7);
    box-shadow: 0 0 3px  rgb(0, 0, .7);
}

.searchBtn:hover
{
    background-color: #697d96;
}

.outputContainer
{
    flex: 1 0 auto;
    width: 100%;

    margin: 50px 0px 25px 0px;
    padding: 0px 0px 0px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.taskbar
{
    flex: 0 0 35px;
    width: 85%;
    
    background-color: #e7e9e2;
    opacity: .7;

    overflow-y: hidden;
    overflow-x: auto;

    -webkit-box-shadow: inset 0 0 3px rgb(0, 0, .7);
    box-shadow: inset 0 0 3px  rgb(0, 0, .7);

    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.contentContainer
{
    flex: 1 0 400px;
    width: 85%;

    background-color: #e7e9e2;
    opacity: .7;

    overflow-y: auto;
    overflow-x: hidden;

    -webkit-box-shadow: inset 0 0 3px rgb(0, 0, .7);
    box-shadow: inset 0 0 3px  rgb(0, 0, .7);
}






/* SCROLL ===============================================================*/
.middleContainer:hover::-webkit-scrollbar-thumb
{
    background-color: #81817e;
}

.middleContainer::-webkit-scrollbar
{
    width: 15px;
}
 
/* Track */
.middleContainer::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.7);
    box-shadow: inset 0 0 3px rgba(0,0,0,0.7);
}
 
/* Handle */
.middleContainer::-webkit-scrollbar-thumb
{
    background-color: #747472;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.7);
    box-shadow: inset 0 0 2px rgba(0,0,0,0.7);
}

.middleContainer::-webkit-scrollbar-thumb:hover
{
    background: 	#747472;
}

.middleContainer::-webkit-scrollbar-thumb:active
{
    background: #676765;
}

.hidden
{
    display: none;
}