.checkboxInputContainer
{
    height: auto;
    width: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    color: #484847;
}

.checkboxInputLabel
{
    margin: 0px 0px 5px 0px;
    
    font-weight: 600;
}

.inputLabelCombo
{
    margin: 0px 0px 5px 0px !important;

    display: flex;
    align-items: center;
}

.itemLabelCombo:last-child
{
    margin: 0px !important;
}

.checkbox
{
    height: 13px;
    width: 13px;

    margin-right: 5px;

    -webkit-appearance: none;

    border-radius: 3px;

    background-color: #e7e9e2;

    -webkit-box-shadow: inset 0 0 3px rgb(0, 0, .7);
    box-shadow: inset 0 0 3px  rgb(0, 0, .7);
}

.checkboxLabel
{
    margin: 0px;
}

.checkbox:checked
{
    background-color: #7b8da3;
}

.checkbox:focus
{
    outline: none;
}